body{
	background-color: #0AB4F2;
}
.img{
	float: right;
	padding-right: 100px;
	height: 500px;
}
p{
	font-size: 20px;
}
/*For title*/
.h1{
	font-family: 'Georgia',sans-serif;
	font-size: 70px;
}
ul {
    list-style-type: none;
    float: right;
   
  }
  li{
      display: inline;
      margin-right: 40px;
      
  }
  fieldset{
      background-color: aqua;
  }