/*Styling Body*/
*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
/*For title*/
h1{
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}
/*Background Image styling*/
.img_area{
    background-image: url('./kumar2.jpg');
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    border: 15px inset #fff;
}
.content p{
    padding: 0 8%;
    line-height: 2;
    color: #adadad;
}
.content ul{
    padding: 0 31%;
    line-height: 2;
    color: #d6fa08;
}
.Scial_Media li{
    display: inline;
}
.Scial_Media img{
        float: right;
        padding-right: 30px;
        height: 40px;
}
